<div class="btn-group">
  <% if params[:index].to_i == 0 %>
    <%= link_to 'Hottest Questions', questions_path(index: 0), class: "btn btn-default active", autofocus: true %>
    <%= link_to 'Hottest Answers', questions_path(index: 1), class: "btn btn-default" %>
  <% elsif params[:index].to_i == 1 %>
    <%= link_to 'Hottest Questions', questions_path(index: 0), class: "btn btn-default", autofocus: true %>
    <%= link_to 'Hottest Answers', questions_path(index: 1), class: "btn btn-default active" %>
  <% end -%>
  <%= link_to 'New Question', new_question_path, class: "btn btn-default" %>
</div>

<%= link_to 'myself', myself_path(index: 0), class: "btn btn-default pull-right" %>

<% if params[:index].to_i == 0 %>
  <h1>Hottest Questions</h1>
  <hr />
  <div class="hottest_questions">
    <% @questions.each do |question| %>
      <div>
        <h5><%= link_to "#{question.title}", question_path(question) %></h5>
        <p><%= question.body %></p>
        <%= question.answers_count %> answers | 
        <%= question.total_votes %> total votes
        <br /><hr />
      </div>
    <% end -%>
  </div>

  <%= paginate @questions, :param_name => "questions_page" %>
<% elsif params[:index].to_i == 1 %>
  <h1>Hottest Answers</h1>
  <hr />
  <div class="hottest_answers">
    <% answers = Answer.all.desc(:votes, :created_at).page params[:answers_page] %>
    <% answers.each do |answer| %>
      <div>
        <h5><%= link_to "#{answer.question.title}", question_path(answer.question) %></h5>
          <%= answer.votes %> votes <br /><br />
          <p><%= answer.body %></p>
          <hr />
      </div>
    <% end -%>
  </div>
  <%= paginate answers, :param_name => "answers_page" %>
<% end -%>
