<h3><%= @question.title %></h3>

<p>
  <%= @question.body %>
</p>

<div class="pull-right">
	<%= link_to 'Edit', edit_question_path(@question) %> |
	<%= link_to 'Back', questions_path %>
</div>

<h1>Answers</h1>
<% @question.answers.sort{|a1, a2| a2.votes <=> a1.votes}.each do |answer| %>
	<div class="an-answer">
		<%= link_to 'Upvote', upvote_answer_path(answer), method: :post %>
		<%= link_to 'Downvote', downvote_answer_path(answer), method: :post %>
		<!-- <button>Upvote</button>
		<button>Downvote</button> -->
		  votes: <%= answer.votes %>
		<p><%= answer.body %></p>
		<br />
	</div>
<% end -%>

<%= form_for(Answer.new, url: answer_question_path) do |f| %>
	<%= f.text_area :body %><br /><br />
	<%= f.submit class: "btn btn-default"%>
<% end -%>