<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br />
<div class="btn-group">
	<% if params[:index].to_i == 0 %>
		<%= link_to 'Personal Home Page', myself_path(index: 0), class: "btn btn-default active" %>
		<%= link_to 'Favorite', myself_path(index: 1), class: "btn btn-default" %>
	<% elsif params[:index].to_i == 1 %>
		<%= link_to 'Personal Home Page', myself_path(index: 0), class: "btn btn-default" %>
		<%= link_to 'Favorite', myself_path(index: 1), class: "btn btn-default active" %>
	<% end -%>
</div>

<%= link_to 'Back', root_path, class: "btn btn-default pull-right" %>
<br /><br />
<% if params[:index].to_i == 0 %>
	<h4>My Questions</h4>
	<br />
	<div class="my_questions">
		<% my_questions = @user.questions.desc(:created_at).page params[:my_questions_page] %>
		<% my_questions.each do |question| %>
			<div>
				<h5><%= link_to "#{question.title}", question_path(question) %></h5>
				<p><%= question.body %></p>
				<%= question.answers_count %> answers | <%= question.total_votes %> total votes
				<br /><hr />
			</div>
		<% end -%>
		<%= paginate my_questions, :param_name => "my_questions_page" %>
	</div>
	<br /><br />
	<h4>My Answers</h4>
	<br />
	<div class="my_answers">
		<% my_answers = @user.answers.desc(:created_at).page params[:my_answers_page] %>
		<% my_answers.each do |answer| %>
			<div>
				<h5><%= link_to "#{answer.question.title}", question_path(answer.question) %></h5>
				<%= answer.votes %> votes <br /><br />
				<p><%= answer.body %></p>
				<br /><hr />
			</div>
		<% end -%>
		<%= paginate my_answers, :param_name => "my_answers_page" %>
	</div>
<% elsif params[:index].to_i == 1 %>
	<h4>Favorites</h4>
	<br />
	<div class="favorite">
		<% favorite_answers = @user.favorites[0].answers.page params[:favorite_page] %>
		<% favorite_answers.each do |answer| %>
			<div>
				<h5><strong><%= answer.question.title %></strong></h5>
				<p><%= answer.body %></p>
				<%= link_to 'Destroy', remove_from_favorite_favorites_path(answer_id: answer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				<br /><hr />
			</div>
		<% end -%>
		<%= paginate favorite_answers, :param_name => "favorite_page" %>
	</div>
<% end -%>

<br /><br /><br />

<% if current_user %>
	<%= link_to "Sign out", destroy_user_session_path, data: {method: "delete"}, class: "btn btn-default" if current_user %> | 
	<%= link_to "Settings", edit_user_registration_path, class: "btn btn-default" %>
<% end -%>
