<!DOCTYPE html>
<html>
<head>
  <title>Excelsior</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div><%= yield %></div><br /><br />
<%= link_to "Sign out", destroy_user_session_path, data: {method: "delete"}, class: "btn btn-default" if current_user %>

</body>
</html>
